{% extends 'layout.twig' %}

{% block body %}
  <section
    class="
      py-32 flex items-center justify-center
      text-white bg-linear-to-b from-blue-600 to-blue-950 to-90%
    "
  >
    <div class="container md:text-center">
      <div class="space-y-6 overlap">
        <div class="space-y-6 w-full max-w-4xl mx-auto">
          <h1 class="h1 text-balance">
            {{  title }}
          </h1>
          <p class="text-2xl text-blue-200 text-balance">
            {{ description }}
          </p>
        </div>
      </div>
    </div>
  </section>

  {% include '/icons/waves.twig' with { class: "text-blue-950 bg-white -mt-1 border-b border-white" } %}

  <div class="container prose py-24 md:prose-lg md:max-w-3xl">
    {{ content | raw }}
  </div>
{% endblock %}
