{% set code %}
{% highlight "js" %}
let isSiteAwesome = false

function contactMatt(message) {
  return alert(message)
}

if (!isSiteAwesome) {
  return contactMatt("Let's work together!")
}
{% endhighlight %}
{% endset %}

<section class="container flex flex-wrap items-center section-spacing">

  {# Code Snippet #}
  <div class="w-full lg:w-1/2 bg-gray-900 p-4 text-white rounded-lg shadow-lg text-sm sm:text-base">
    <div class="space-x-2 flex items-center">
      <div class="rounded-full w-3 h-3 bg-red-500"></div>
      <div class="rounded-full w-3 h-3 bg-yellow-500"></div>
      <div class="rounded-full w-3 h-3 bg-green-500"></div>
    </div>
    <div class="py-6">
      {{ code | safe }}
    </div>
  </div>

  {# Contact Content #}
  <div class="w-full max-w-2xl mx-auto mt-12 text-center lg:mt-0 lg:w-1/2 lg:pl-16 lg:text-left">
    <h3 class="relative inline text-2xl font-extrabold leading-tight lg:text-3xl">
      Do you want to build a website?
      <span class="w-6 h-6 absolute lg:hidden animate-bounce" style="top: -16px; left: -32px;">
        {% include 'icons/music.svg' %}
      </span>
      <span class="w-8 h-8 absolute hidden lg:block animate-bounce" style="top: -32px; left: -32px;">
        {% include 'icons/music.svg' %}
      </span>
    </h3>
    <p class="mt-2 sm:mt-4 text-sm sm:text-base lg:text-lg">
      Don't get <strong class="font-bold italic">Frozen</strong> with a site you don't love. I can refactor, refresh, or just rebuild you a new website othat will knock your socks off.
    </p>
    <a
      class="inline-flex items-center mt-6 text-indigo-500 rounded font-bold "
      href="/contact/"
    >
      Contact
      <span class="w-4 h-4 ml-1">
        {% include 'icons/arrow.svg' %}
      </span>
    </a>
  </div>
</section>
