{% macro hero(
  icon,
  image = '/assets/fam.jpg',
  eyebrow = 'Default Eyebrow',
  heading = 'Default Heading',
  paragraph = 'Default Paragraph',
  belowParagraph
) %}

  <section class="gradient-purple text-white py-8 lg:py-16">
    <div class="container">
      <div class="max-w-screen-md">
        <p class="uppercase font-bold text-indigo-200 text-sm">
          {{ eyebrow | safe }}
        </p>
        <h1 class="mt-2 text-3xl md:text-4xl lg:text-6xl font-black leading-tight">
          {{ heading | safe }}
        </h1>
        <p class="mt-4 max-w-screen-sm text-base sm:text-lg lg:text-xl text-indigo-100">
          {{ paragraph | safe }}
        </p>
        {% if belowParagraph %}
          {{ belowParagraph | safe }}
        {% endif %}
      </div>
    </div>
  </section>
  <span class="w-full h-12 block gradient-purple text-gray-100">
    {% include 'icons/waves.svg' %}
  </span>

{% endmacro %}
