<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'meta.njk' %}
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script defer src="/assets/main.bundle.js"></script>
  </head>
  <body class="{{ 'debug-screens' if env.dev }}">
    {% include 'header.njk' %}
    <main>
      {% block body %}
      {% endblock %}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
