@import 'tailwindcss/base';
@import './styles/base.pcss';
@import './styles/markdown.pcss';
@import './styles/prism.pcss';

@import 'tailwindcss/components';
@import './styles/components.pcss';

@import 'tailwindcss/utilities';
@import './styles/utilities.pcss';
