.button {
  @apply inline-block text-sm px-4 py-3 rounded font-black uppercase tracking-wide bg-indigo-500 text-white;
}

.h1 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-black leading-tight;
}

.gradient-purple {
  @apply bg-gradient-to-r from-indigo-500 via-indigo-700 to-indigo-900;
}

.input {
  @apply rounded border-gray-300 text-gray-900 focus:border-indigo-500;
}

.section-spacing {
  @apply py-8 md:py-16 lg:py-24;
}
