---
import Layout from '../layouts/Layout.astro'

const meta = {
  title:
    'Matt Waler builds websites and mobile applications with JavaScript and Swift.',
  description:
    'My name is Matt Waler, and I am a senior developer from Ohio. I have been been writing frontend code for 10 years and have helped design and deploy hundreds of websites for my clients.',
}
---

<Layout meta={meta}>
  <div class="prose prose-invert py-4">
    <h1>Blog</h1>
  </div>
</Layout>
