---
import Layout from '../layouts/Layout.astro'
import { sortPosts } from '@/helpers/Post'
import type { Post } from '@/helpers/Post'
import PostLink from '@/components/PostLink.astro'

const meta = {
  title: `Read Matt Waler's thoughts and ramblings on web development, app development, and life.`,
  description:
    'Coding tips, tech rants, coffee-fueled tutorials, and the occasional meme. Come for the bugs, stay for the fixes!',
}

const posts: Post[] = Object.values(
  import.meta.glob('./blog/*.md', { eager: true })
)
---

<Layout meta={meta}>
  <div class="typography" data-typed="blog">
    <h1>Sneak a peek inside my head.</h1>
    <p>
      Sorry, you're probably going to regret doing that. Here on my blog you
      will find coding tips, tech rants, coffee-fueled tutorials, and the
      occasional meme. We don't have a ton here just yet, but don't worry, more
      is on the way!
    </p>
    <ul>
      {sortPosts(posts).map((post) => <PostLink post={post} />)}
    </ul>
  </div>
</Layout>
