---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Waves from '../components/Waves.astro'
import BlogCard from '../components/BlogCard.astro'

const allPosts = await getCollection('blog')
const posts = allPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

const formatDate = (date: Date) =>
  date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })
---

<Layout
  title="Read Matt Waler's thoughts and ramblings on web development, app development, and life."
  description="Coding tips, tech rants, coffee-fueled tutorials, and the occasional meme. Come for the bugs, stay for the fixes!"
>
  <Hero
    title="Sneak a peek inside my head."
    description="Sorry, you're probably going to regret doing that. Here on my blog you will find coding tips, tech rants, coffee-fueled tutorials, and the occasional meme. We don't have a ton here just yet, but don't worry, more is on the way!"
  />

  <Waves />

  <section class="section bg-linear-to-t from-blue-600 to-blue-950 to-90%">
    <div class="container grid grid-cols-1 lg:grid-cols-2 gap-12">
      {posts.map(post => (
        <BlogCard post={post} />
      ))}
    </div>
  </section>

  <Waves rotate foreground="#155dfc" />

</Layout>
