---
import Layout from '../layouts/Layout.astro'

const meta = {
  title: `Matt Waler's blog, chock full of his thoughts and ramblings.`,
  description:
    'Coding tips, tech rants, coffee-fueled tutorials, and the occasional meme. Come for the bugs, stay for the fixes!',
}

interface Post {
  url: string
  frontmatter: {
    title: string
    description: string
    date: string
  }
}

const posts: Post[] = Object.values(
  import.meta.glob('./blog/*.md', { eager: true })
)
const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
)
---

<Layout meta={meta}>
  <div class="typography">
    <h1>Blog</h1>
    <p>
      Coding tips, tech rants, coffee-fueled tutorials, and the occasional meme.
      Come for the bugs, stay for the fixes! We don't have a ton here just yet,
      but don't worry, more is on the way!
    </p>
    <ul>
      {
        sortedPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
