---
import Blank from '../layouts/Blank.astro'
import { Image } from 'astro:assets'
import dad from '@/assets/dad.jpg'

const meta = {
  title: 'For My Dad',
  description: 'A constantly evolving document for the best dad in the world.',
}

const lessons = [
  `Measure twice, cut once.`,
  `A project usually requires 10 more trips to the hardware store than originally planned.`,
  `Magnets can solve most things.`,
  `If magnets can't solve it, you probably need a shim.`,
  `Bob's your uncle.`,
  `Lifting straps are important to prevent hernias.`,
  `Mulch projects are best measured in sprints.`,
  `You always need 20 more bags of mulch than you think you do.`,
  `Flatheads should be avoided at all costs.`,
  `Projects that succeed on the first try are shocking and must be celebrated (looking at you, bathroom door).`,
  `Avoid electrical and plumbing projects like the plague.`,
  `It's not about what language you program with, it's about how well you know the language itself.`,
  `The best way to teach a kid about budgeting is with a game. (shout out to KA)`,
  `Life is too short to spend it with people that suck.`,
  `There are few feelings in life better than being a regular at a local business.`,
  `Leave large painting projects to the professionals.`,
  `Done is better than perfect.`,
  `A car is just a means to get from point A to point B.`,
  `Dad can probably make anything you find on Etsy, but better.`,
  `If you need a tool, make sure you buy it from DeWalt.`,
  `Green Day is the greatest Pop Punk band of all time.`,
  `Mayo is the best condiment for a burger.`,
  `Similarly, slaw is the best condiment for a hot dog.`,
  `A simple todo list is all you need for almost every project.`,
  `Getting started is the only way to finish something.`,
  `Always put the maximum company match into your 401k.`,
  `In almost everything, less is more.`,
  `When you eat at a restaurant with another family, order something cheaper than everybody else.`,
  `Show love with your actions, not just your words.`,
  `Spend money on hobbies, not on things.`,
  `Doing yard work keeps your calves absolutely jacked.`,
  `The most important part of being a good parent/grandparent is spending time together.`,
  `Listen more, talk less.`,
  `The worst somebody can say to an offer you make is no.`,
  `Sometimes, hassling the waiter can lead to free dessert.`,
  `Intentionally annoying the people you love is one of the best feelings in the world.`,
  `Be the person others can depend on.`,
  `Trying, even just a little bit, will make you stand out from the rest.`,
  `Behind every finished project is 10-20 unfinished prototypes.`,
  `Being a good person IS the reward, not the means for getting one.`,
  `Never raise your voice at your spouse.`,
  `Let small things go, like how many loads of laundry your partner does.`,
  `Never be embarrassed to show excitement.`,
  `Put in the work every day, but leave it at work every night.`,
  `You can excel at anything with enough time and practice.`,
  `Listening to TikTok while somebody else is driving is forbidden.`,
  `Similarly, sleeping while somebody else drives is very irritating.`,
  `There is nothing more important than family.`,
  `Haircuts should never cost more than $25.`,
  `Make sure your kids work a minimum wage job in high school.`,
  `If you have an idea, just do it. You can always change it later.`,
  `When somebody says you can't do something, now you HAVE to do it.`,
  `If somebody orders an Americano, it's probably your dad.`,
  `Try not to laugh too hard when your dad falls under his car.`,
  `A bug, error, or mistake is just a stepping stone.`,
  `Buy a solid product once, not a shitty product twice.`,
  `Medium rare is the only way to eat a steak.`,
  `You can't have dessert without coffee.`,
  `Support your children in their passions, not force them.`,
  `Accepting your children as they are is the most important thing you can do as a parent.`,
]
---

<Blank meta={meta}>
  <div class="typography-light dark:typography container py-8 px-8">
    <Image class='rounded-lg border-4 border-white' src={dad} alt="My dad" />
    <h1>This one's for you, Dad.</h1>
    <p>
      I figured I would take a page out of your book and <strong>make</strong> something
      for you, something that I plan on supporting for the rest of my life.
    </p>
    <p>
      You have taught me so many things, too many to count. But more
      importantly, you taught me what family really means. It means showing up
      for one another, supporting one another, and most of all, loving one
      another.
    </p>
    <p>
      You are the foundation that our family is built upon, and such a great
      role model for what it means to be a father. I am so lucky that not only did I get the best father, I got a best friend too.
    </p>
    <p>
      Underneath this text is a living breathing list of just some of the things you've taught me. You may not have said these directly, but I learned them from you nonetheless. I plan on adding another lesson every year for the rest of my life, because I know you still have so much to teach me.
    </p>
    <h2>{lessons.length} Things My Dad Taught Me</h2>
    <ol>
      {lessons.map(lesson => (
        <li>
          {lesson}
        </li>
      ))}
    </ol>
  </div>
</Blank>
