---
import Layout from '../layouts/Layout.astro'
import { sortPosts } from '@/helpers/Post'
import type { Post } from '@/helpers/Post'
import projects from '@/assets/projects'
import ProjectLink from '@/components/ProjectLink.astro'
import PostLink from '@/components/PostLink.astro'

const meta = {
  title:
    'Matt Waler builds websites and applications with modern tools and technologies',
  description:
    'Matt Waler builds websites and applications with a variety of modern tools and technologies like Astro, React, React Native, Swift, and Tailwind CSS.',
}

const posts: Post[] = Object.values(
  import.meta.glob('./blog/*.md', { eager: true })
)

const sortedPosts = sortPosts(posts).slice(0, 3)
---

<Layout meta={meta}>
  <div class="typography">
    <h1>I build websites and applications using modern tools and technologies.</h1>
    <p>
      Whether it's a static website or a full-blown iOS application, I’m all about taking ideas and turning them into something tangible. I pride myself on keeping my code simple, practical, and easy to maintain, resorting to complexity only when absolutely necessary.
    </p>
    <h2>If you need a website, I can get you going with any of these technologies:</h2>
    <ul>
      <li>Alpine.js</li>
      <li>Astro.js</li>
      <li>Craft CMS</li>
      <li>Next.js</li>
      <li>Statamic</li>
      <li>Tailwind CSS</li>
    </ul>
    <h2>If you need an iOS application, I can get you published to the App Store with:</h2>
    <ul>
      <li>React Native</li>
      <li>Swift</li>
    </ul>
    <h2>If I care about my personal life, I am most likely doing one of these things right now:</h2>
    <ul>
      <li>Taking care of Klaus, my son (french bulldog)</li>
      <li>Getting worse at tennis</li>
      <li>Lifting weights and feeling very sore</li>
      <li>Botching recipes in the kitchen</li>
      <li>Losing games of Marvel Snap</li>
      <li>Listening to pop-punk music (mainly MGK)</li>
      <li>Watching Edgar Wright films</li>
    </ul>
    <h2>My most recent ramblings:</h2>
    <ul>
      {sortedPosts.map(post => (
        <PostLink post={post} />
      ))}
    </ul>
    <h2>My most recent projects:</h2>
    <ul>
      {projects.slice(0, 3).map(project => (
        <ProjectLink project={project} />
      ))}
    </ul>
  </div>
</Layout>
