---
import Layout from '../layouts/Layout.astro'

const meta = {
  title:
    'Matt Waler builds websites and mobile applications with JavaScript and Swift.',
  description:
    'Matt Waler builds fast, clean, and pragmatic apps using tools like Astro, Swift, React, and React Native.',
}
---

<Layout meta={meta}>
  <div class="prose prose-sm prose-invert lg:prose-base py-4">
    <h1>I build websites and applications with JavaScript and Swift.</h1>
    <p>
      Hello! I am Matt Waler, a web and mobile developer based in Ohio. I build
      fast, clean, and pragmatic apps using tools like Astro, Swift, React, and
      React Native. Whether it is a single-page web app or a full iOS launch, I
      love turning ideas into polished, functional products. I am all about
      writing code that's simple, maintainable, and pragmatic.
    </p>
    <h3>Skills</h3>
    <ul>
      <li>React & React Native</li>
      <li>JavaScript & Typescript</li>
      <li>Swift</li>
      <li>Astro.js</li>
      <li>Alpine.js</li>
      <li>Tailwind CSS</li>
    </ul>
    <a class="text-code-green font-bold" href="/projects/">Take a look at some of my projects.</a>
    <h3>Hobbies</h3>
    <ul>
      <li>Getting worse at tennis</li>
      <li>Lifting weights and feeling very sore</li>
      <li>Botching recipes in the kitchen</li>
      <li>Losing games of Marvel Snap</li>
      <li>Listening to pop-punk music</li>
      <li>Watching Edgar Wright films</li>
    </ul>
    <a class="text-code-green font-bold" href="/contact/">Get in touch with me.</a>
  </div>
</Layout>
