---
import Markdown from '../layouts/Markdown.astro'
---

<Markdown
  title="Klaus Care Instructions"
  description="A cheat sheet for taking care of Klaus!"
>
  <h2>Food</h2>
  <ul>
    <li>
      Use 1 scoop of the 2/3 measuring cup inside the food container
      into his blue slow feeding bowl
    </li>
    <li>
      Breakfast: 8:30-9:00am
    </li>
    <li>
      Dinner: 3:30-4:00pm
      <ul>
        <li>
          Klaus takes one Apoquel pill with his dinner
        </li>
        <li>
          Just place the pill on top of his food with dinner. If he avoids it, you can feed it to him with a bit of peanut butter or shredded cheese
        </li>
      </ul>
    </li>
  </ul>
  <h2>Potty</h2>
  <p>
    When Klaus is up and active, we usually take him out every 3ish hours.
  </p>
  <p>
    Klaus usually poops 2-3 times a day, once right in the morning, another time
    between noon and two, and after dinner.
  </p>
  <h2>Crating</h2>
  <p>
    We crate Klaus when we leave the house. Please make sure the only things in his crate when you leave are his snuggle
    buddy dog toy, his blue nyla-bone, and a small blanket or two.
  </p>
  <p>
    To get Klaus into the crate, start by removing any leashes or collars on him. Stand next to the crate, point at it, and say "Crate!".
    He should trot right in. Give him a treat, close the crate, and then give him another treat through the door for being a good boy.
  </p>
  <p>
    Klaus can spend up to 4 hours in the crate if he goes in tired.
  </p>
  <h2>Bedtime</h2>
  <p>Before bed, we clean Klaus's skin folds on his face with medicated wipes. They are located in the hallway cabinet bin!</p>
  <p>
    At bedtime, we crate Klaus in our bedroom (last door on the right at
    the end of the hallway). However, when Klaus is staying elsewhere, especially if other dogs are involved, he usually sleeps where they sleep.
  </p>
  <h2>Treats & Supplies</h2>
  <p>
    We have a couple of black magnetic pouches around the house filled with
    treats that you can use for Klaus. One is attached to the leash, and two
    others should be in the storage bin on our hall tree next to the door that
    goes out into the garage. Extra treats may be found in a blue resealable bag
    inside the same hallway cabinet bin.
  </p>
  <p>
    All of Klaus's treats, medications, and cleaning supplies are located in the
    hallway cabinet bin.
  </p>
  <h2>Other Notes</h2>
  <p>
    If you notice his face folds are looking damp or red, you can use a tissue
    from the living room table and wipe them out!
  </p>
</Markdown>
