---
import Layout from '@/layouts/Layout.astro'
import projects from '@/assets/projects'
import ProjectLink from '@/components/ProjectLink.astro'

const meta = {
  title:
    'Projects Matt Waler has built since 2016',
  description:
    'Professional websites and iOS apps built for performance, scalability, and user experience — built to meet client and developer needs',
}
---

<Layout meta={meta}>
  <div class="typography">
    <h1>See what I've built.</h1>
    <p>
      I have built a lot of websites and mobile applications since I started
      back in 2016. Listed below is a non-exhaustive representation of what I
      have developed and deployed.
    </p>
    <ul>
      {
        projects.map((project) => (
          <ProjectLink project={project} />
        ))
      }
    </ul>
  </div>
</Layout>
