html, body {
  width: 100%;
  @apply font-sans antialiased text-gray-900 bg-gray-100 overflow-x-hidden;
}

* {
  @apply relative z-10;
}

::-webkit-scrollbar {
  @apply w-3 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-500 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-indigo-700;
}
