@keyframes grow {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
    transform-origin: center;
  }
  100%{
    transform: scale(1);
  }
}

.animate-grow {
  animation: grow ease 3s infinite;
}

[x-cloak] {
  @apply hidden;
}
