---
interface Props {
  post: any
}

const { post } = Astro.props

const formatDate = (date: Date) =>
  date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })
---

<a
  href={`/blog/${post.id.replace(/\.md$/, '')}/`}
  class="bg-white hover:rotate-4 transition-transform border rounded-xl shadow-xl overflow-clip"
>
  <div class="p-8 space-y-2">
    <time datetime={post.data.date.toISOString().split('T')[0]} class="block text-sm text-gray-600">
      {formatDate(post.data.date)}
    </time>
    <h4 class="h5 text-pretty">
      <span class="block font-bold">
        {post.data.title}
      </span>
    </h4>
    <p class="text-pretty lg:line-clamp-3">{post.data.description}</p>
  </div>
</a>
