---
import File from '@/assets/file.svg'

const { name, href } = Astro.props
const pathname = new URL(Astro.request.url).pathname
---

<a
  @click="$store.isNavOpen = false"
  href={href}
  class:list={[
    'flex cursor-pointer items-center gap-2 px-4 py-2 text-xs',
    'bg-black',
    'text-gray-100',
    'hover:text-primary',
    'lg:border-b-2 lg:border-b-transparent',
    '!border-r',
    '!border-r-gray-600',
    { '!border-b-primary text-primary': pathname == href },
  ]}
>
  <File />
  <h2>{name}</h2>
</a>
