---
interface Props {
  name: string,
  href: string,
}

const { name, href } = Astro.props as Props

const pathname = new URL(Astro.request.url).pathname
console.log(pathname)
---

<a
  href={href}
  class:list={[
    'tab-link',
    'flex items-center gap-2 py-2 px-4 text-xs cursor-pointer',
    'bg-black',
    'text-gray-100',
    'hover:text-primary',
    'border-b-2 border-b-transparent',
    '!border-r',
    '!border-r-gray-600',
    { '!border-b-primary text-primary': pathname == href }
  ]}
>
  <svg
    fill="none"
    height="16"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    viewBox="0 0 24 24"
    width="16"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"
    ></path><polyline points="14 2 14 8 20 8"></polyline></svg
  >
  <h2>{name}</h2>
</a>
