---
interface Project {
  name: string
  description: string
  link: {
    url?: string
    target?: string
    title?: string
    buttonLabel?: string
  }
}

const projects: Project[] = [
  {
    name: 'Papersend.io',
    description:
      'Papersend is the free alternative to DocSend for secure document sharing, tracking, and Data Rooms. Customize branding, control access, and protect your documents.',
    link: {
      url: 'https://papersend.io/',
    },
  },
  {
    name: 'Qivi.io',
    description:
      'Qivi is an all-in-one application designed to streamline business operations, enhance productivity, and maximize success. Data security is a priority.',
    link: {
      url: 'https://qivi.io/',
    },
  },
  {
    name: 'TECHPOINT.de',
    description:
      'TECHPOINT is a local IT service provider based in the Starnberg district and the Fünfseenland region, specializing in delivering reliable and modern IT solutions.',
    link: {
      url: 'https://techpoint.de/',
    },
  },
]
---

<div>
  <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      projects.map((project) => (
        <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-black">
          <h3 class="text-xl font-semibold text-white mb-2">{project.name}</h3>

          <p class="text-gray-400">{project.description}</p>

          {project.link?.url ? (
            <a
              href={project.link.url}
              title={project.link.title || project.name}
              target={project.link.target || '_blank'}
              class="
                w-full px-4 py-2.5 mt-4 text-center
                border border-gray-600 rounded-lg
                hover:text-primary
                hover:border-primary
                "
            >
              {project.link.buttonLabel || 'Open Project Website'}
            </a>
          ) : null}
        </div>
      ))
    }
  </div>
</div>
