---
import Socials from './Socials.astro'
---

<div class="mt-auto">
  <div class="mt-6 bg-black rounded-lg p-4 border border-gray-600 text-xs">
    <div class="flex items-center mb-2">
      <span class="text-primary mr-2">$</span>
      <span class="text-gray-100">npx connect</span>
    </div>
    <div class="mt-2 text-gray-400">
      Initializing...
      <br />
      Ready to connect.
      <br />
      Waiting for contact request...
    </div>
  </div>
  <Socials />
</div>
