---
import Waves from './icons/Waves.astro'
import Github from './icons/Github.astro'
import Instagram from './icons/Instagram.astro'
import LinkedIn from './icons/LinkedIn.astro'

const socials = [
  { name: 'GitHub', url: 'https://github.com/mattwaler', Icon: Github },
  { name: 'Instagram', url: 'https://instagram.com/mattwaler', Icon: Instagram },
  { name: 'LinkedIn', url: 'https://linkedin.com/in/mattwaler', Icon: LinkedIn },
]

const pathname = Astro.url.pathname
---

{pathname !== '/contact/' && (
    <section class="py-24">
    <div class="container md:text-center text-balance max-w-3xl mx-auto space-y-6">
      <h2 class="h2">Let's work together.</h2>
      <p class="h6">
        Have a project in mind, or just want to say hello? I'd love to hear from you.
      </p>
      <div>
        <a href="/contact/" class="button">Get in Touch</a>
      </div>
    </div>
  </section>
)}

<footer class="">
  <div class="mx-auto container py-6 md:flex md:items-center md:justify-between">
    <div class="flex justify-start gap-x-6 md:order-2">
      {socials.map(({ name, url, Icon }) => (
        <a
          class="hover:text-white transition-colors"
          target="_blank"
          rel="noopener noreferrer"
          href={url}
        >
          <span class="sr-only">{name}</span>
          <Icon class="size-6" />
        </a>
      ))}
    </div>
    <p class="mt-4 font-medium text-sm/6 md:order-1 md:mt-0">
      &copy; {new Date().getFullYear()} Waler Media, LLC. All rights reserved.
    </p>
  </div>
</footer>
