---
import Pin from '@/assets/pin.svg'
---

<div class="flex items-center gap-4">
  <a href="/" aria-label="Go to homepage">
    <img
      alt="Headshot of Matt Waler"
      src="/assets/headshot.jpg"
      width={192}
      height={192}
      class="border-code-green mx-auto size-24 rounded-xl border-3 sm:mx-0"
    />
  </a>
  <div>
    <p
      class="text-text-code-green relative mb-1 inline-block text-2xl font-extrabold"
    >
      Matt Waler
    </p>
    <p class="text-code-green mb-2 text-sm">Web/App Developer</p>
    <p class="flex items-center text-sm text-gray-400">
      <Pin />
      Ohio
    </p>
  </div>
</div>
