<div class="typography text-gray-400">
  <p class="text-sm leading-relaxed text-gray-400">
    Hello! I’m Matt Waler, a website and application developer from Ohio. I
    focus on building clean, pragmatic, and maintainable web and mobile apps.
  </p>
  <p class="mt-4 text-sm leading-relaxed text-gray-400">
    When I am not working, I am most likely playing tennis, lifting weights, or
    at the nearest Chipotle.
  </p>
</div>
