---
import File from '@/assets/file.svg'

const { name, href } = Astro.props
const pathname = new URL(Astro.request.url).pathname
---

<a
  href={href}
  class:list={[
    'flex cursor-pointer items-center gap-2 px-4 sm:px-8 lg:px-4 py-2 text-sm',
    'bg-black',
    'text-gray-100',
    'hover:text-code-green',
    'lg:border-b-2 lg:border-b-transparent lg:text-xs',
    '!border-r',
    '!border-r-gray-600',
    { '!border-b-code-green !text-code-green': pathname == href },
  ]}
>
  <File />
  <span>{name}</span>
</a>
