---
const { post } = Astro.props
---

<li>
  <a href={post.url}>{post.frontmatter.title}</a>
  <p class="mt-1">{post.frontmatter.description}</p>
  <p class="-mt-2 text-xs text-gray-500">
    {post.frontmatter.date}, {post.frontmatter.tags.join(', ')}
  </p>
</li>
