---
const { project } = Astro.props
---

<li class="py-2">
  <a
    target={project.link.startsWith('/') ? '_self' : '_blank'}
    href={project.link}
  >
    {project.title}
  </a>
  <p class="mt-1">{project.description}</p>
  <p class="-mt-2 text-xs text-gray-500">
    Built with {project.tools.join(', ')}
  </p>
  {project.trendy && (
    <p class="-mt-2 text-xs text-gray-500 italic">
      Completed while employed at <a class="underline" target="_blank" href="https://trendyminds.com">TrendyMinds</a>
    </p>
  )}
</li>
