---
import Email from '@/assets/email.svg'
import Instagram from '@/assets/instagram.svg'
import LinkedIn from '@/assets/linkedin.svg'
import Github from '@/assets/github.svg'

const socials = [
  {
    Icon: Github,
    link: 'https://github.com/mattwaler',
    title: 'View GitHub Profile',
  },
  {
    Icon: LinkedIn,
    link: 'https://www.linkedin.com/in/mattwaler/',
    title: 'View LinkedIn Profile',
  },
  {
    Icon: Instagram,
    link: 'https://www.instagram.com/mattwaler',
    title: 'View LinkedIn Profile',
  },
  {
    Icon: Email,
    link: '/contact/',
    title: 'Send Email',
    target: '_self',
  },
]
---

<div class="flex flex-wrap lg:justify-between gap-3">
  {
    socials.map((social) => (
      <a
        href={social.link}
        target={social.target ?? '_blank'}
        title={social.title}
        rel="noopener noreferrer"
        class="hover:bg-primary flex h-10 w-10 items-center justify-center rounded-lg border border-gray-600 bg-black text-gray-100 transition-all duration-150 hover:-translate-y-0.5 hover:text-black"
      >
        <social.Icon />
      </a>
    ))
  }
</div>
