---
import SocialIcon from './SocialIcon.astro'

const socials = [
  {
    icon: 'github',
    link: 'https://github.com/mattwaler',
    title: 'View GitHub Profile',
  },
  {
    icon: 'linkedIn',
    link: 'https://www.linkedin.com/in/mattwaler/',
    title: 'View LinkedIn Profile',
  },
  {
    icon: 'instagram',
    link: 'https://www.instagram.com/mattwaler',
    title: 'View LinkedIn Profile',
  },
  {
    icon: 'email',
    link: '/contact/',
    title: 'Send Email',
    target: '_self',
  },
]
---

<div class="mt-6 flex flex-wrap justify-between gap-3">
  {
    socials.map((social) => (
      <a
        href={social.link}
        target={social.target ?? '_blank'}
        title={social.title}
        rel="noopener noreferrer"
        class="hover:bg-primary flex h-10 w-10 items-center justify-center rounded-lg border border-gray-600 bg-black text-gray-100 transition-all duration-150 hover:-translate-y-0.5 hover:text-black"
      >
        <SocialIcon icon={social.icon} />
      </a>
    ))
  }
</div>
