---
import SocialIcon from './SocialIcon.astro'

const socials = [
  {
    icon: 'github',
    link: 'https://github.com/mattwaler',
    title: 'View GitHub Profile',
  },
  {
    icon: 'linkedIn',
    link: 'https://www.linkedin.com/in/mattwaler/',
    title: 'View LinkedIn Profile',
  },
  {
    icon: 'instagram',
    link: 'https://www.instagram.com/mattwaler',
    title: 'View LinkedIn Profile',
  },
  {
    icon: 'email',
    link: '/contact/',
    title: 'Send Email',
    target: '_self',
  },
]
---

<div class="flex flex-wrap gap-3 mt-6 justify-between">
  {
    socials.map((social) => (
      <a
        href={social.link}
        target={social.target ?? '_blank'}
        title={social.title}
        rel="noopener noreferrer"
        class="flex items-center justify-center w-10 h-10 rounded-lg bg-black text-gray-100 transition-all duration-150 border border-gray-600 hover:bg-primary hover:text-black hover:-translate-y-0.5"
      >
        <SocialIcon icon={social.icon} />
      </a>
    ))
  }
</div>
