<div
  x-data="{ show: true }"
  x-show="show"
  @keydown.slash.window="show = !show"
  @click="show = false"
  class="xs:gap-1.5 fixed right-3 bottom-3 text-black z-50 flex cursor-pointer items-center rounded-full bg-gray-100 px-3 py-1 text-sm font-semibold shadow-lg"
>
  <svg
    class="size-4 text-sky-500"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 54 33"
    ><path
      fill="currentColor"
      fill-rule="evenodd"
      d="M27 0c-7.2 0-11.7 3.6-13.5 10.8 2.7-3.6 5.85-4.95 9.45-4.05 2.05.51 3.52 2 5.15 3.65 2.64 2.69 5.7 5.8 12.4 5.8 7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.05-.51-3.52-2-5.15-3.65C36.76 3.1 33.7 0 27 0ZM13.5 16.2C6.3 16.2 1.8 19.8 0 27c2.7-3.6 5.85-4.95 9.45-4.05 2.05.51 3.52 2 5.15 3.65 2.64 2.69 5.7 5.8 12.4 5.8 7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.05-.51-3.52-2-5.15-3.65-2.64-2.69-5.7-5.8-12.4-5.8Z"
      clip-rule="evenodd"></path></svg
  >
  <span
    class="sm:ml-1 after:sm:content-['sm'] after:md:content-['md'] after:lg:content-['lg'] after:xl:content-['xl']"
  >
  </span>
</div>
