---
import Socials from './Socials.astro'
---

<div class="rounded-lg border border-gray-600 bg-black p-4 text-xs">
  <div class="mb-2 flex items-center">
    <span class="text-code-green mr-2">$</span>
    <span class="text-gray-100">npm run connect</span>
  </div>
  <div class="mt-2 text-gray-400">
    Initializing...
    <br />
    Ready to connect.
    <br />
    Waiting for contact request...
  </div>
</div>
