<div class="rounded-lg border border-gray-600 bg-black p-4 text-xs">
  <div class="mb-2 flex items-center" data-typed="terminal" data-typed-delay="500">
    <span class="text-code-green mr-2">$</span>
    <span class="text-gray-100">npm run connect</span>
  </div>
  <div class=" text-gray-400 flex flex-col" data-typed="terminal" data-typed-delay="2500">
    <span>Initializing...</span>
    <span>Ready to connect.</span>
    <span>Waiting for contact request...</span>
  </div>
</div>
