---
import Layout from '@/layouts/Layout.astro'

const meta = {
  title: 'Agone: Recurring Task Tracker',
  description: 'A simple and easy-to-use recurring task tracker.',
}
---

<Layout meta={meta}>
  <div class="prose prose-sm prose-invert py-4 lg:prose-base">
    <h1>
      Agone makes tracking recurring tasks and task organization dead simple.
    </h1>
    <p>
      Keeping track of all of life's recurring tasks is impossible. Make it
      possible with Agone, where you can create custom groups, custom intervals,
      and view the entire history of each task for reference.
    </p>
    <a href="https://apps.apple.com/us/app/agone-recurring-tasks-tracker/id6478084115">Download Agone</a>
    <h2>How it works</h2>
    <p>Agone keeps it super simple and straightforward.</p>
    <h3>1: Create a Group</h3>
    <p>
      Groups act like folders for a batch of items that relate to one another.
      Start by creating a group, choosing an icon, and selecting a custom color.
    </p>
    <h3>2: Create an Item</h3>
    <p>
      Now it is time to create your first item. Be sure to set the frequency at
      which the app will remind you.
    </p>
    <h3>3: Live your Life</h3>
    <p>
      That is it. Agone will now send you a notification when items are due. It
      will also display badges on the app icon so you do not forget.
    </p>
    <h3>4: Upgrade to Premium</h3>
    <p>
      If you are enjoying the app, consider upgrading to premium! This will
      allow you to create more than 10 items.
    </p>
    <h2>Agone will never have ads, trackers, or signup forms.</h2>
    <p>
      Agone stores all your data directly in iCloud. This means your data is
      yours and yours alone, and will sync seamlessly between all of your
      devices.
    </p>
    <a href="https://apps.apple.com/us/app/agone-recurring-tasks-tracker/id6478084115">Download Agone</a>
  </div>
</Layout>
