{% extends 'page.njk' %}
{% from 'hero.njk' import hero  %}

{% set title = 'Blog' %}
{% set description = 'Here you will find my thoughts, opinions, findings, and neat tricks I have discovered over my years in web development.' %}

{% block body %}

  {{ hero(
    eyebrow = 'Subject to change',
    heading = "My thoughts on web development.",
    paragraph = description
  ) }}

  <section class="container section-spacing">
    {% for post in collections.blog | reverse %}
      <article class="flex flex-wrap-reverse {{ 'border-t pt-12 mt-12' if not loop.first }}">
        <div class="w-full mt-8 md:mt-0 md:w-1/3">
          <p class="uppercase text-xs font-bold text-gray-600">Last Updated:</p>
          <p class="text-lg font-bold">{{ post.data.date | prettyDate }}</p>
        </div>
        <div class="mt-2 w-full md:mt-0 md:w-2/3">
          <a href="{{ post.url }}">
            <h2 class="text-2xl font-bold leading-none">{{ post.data.title }}</h2>
          </a>
          <p class="text-base mt-4">{{ post.data.description }}</p>
          <a
            href="{{ post.url }}"
            class="inline-flex items-center mt-6 text-indigo-500 font-bold"
          >
            <span class="leading-none">
              Read More
            </span>
            <span class="w-4 ml-1">
              {% include 'icons/arrow.svg' %}
            </span>
          </a>
        </div>
      </article>
    {% endfor %}
  </section>

  {% include 'contact-cta.njk' %}

{% endblock %}
