{% extends 'page.njk' %}
{% from 'hero.njk' import hero  %}

{% set title = 'Contact Me' %}
{% set description = "Contact Matt Waler for development, instruction, or consultation for the web." %}

{% block body %}

  {{ hero(
    eyebrow = "Don't be shy",
    heading = "Let's get in touch.",
    paragraph = "Fill out the contact form below and I promise I will reach out as fast as I can. Thank you in advance for contacting me!"
  ) }}

  <div class="container grid items-center md:grid-cols-2 gap-24 sections-spacing">
    <form
      name="contact"
      method="post"
      aria-label="contact form"
      action="/?contact"
    >
      <input type="hidden" name="form-name" value="contact">
      <label class="block pt-8">
        <p class="font-bold">Name:</p>
        <input name="name" type="text" required class="mt-2 input w-full">
      </label>
      <label class="block pt-8">
        <p class="font-bold">Email:</p>
        <input name="email" type="email" required class="mt-2 input w-full">
      </label>
      <label class="block pt-8">
        <p class="font-bold">Message:</p>
        <textarea name="message" rows="7" required class="mt-2 input w-full"></textarea>
      </label>
      <div class="block pt-8">
        <button type="submit" class="button ml-auto">Submit</button>
      </div>
    </form>
    <img class="hidden shadow-none md:block" src="/assets/contact.svg" alt="Contact image.">
  </div>


{% endblock body %}


