---
title: Sites
heading: Websites I brought to life.
description: Below you will find a list of some of the sites I've helped design, build, and deploy to the internet. Give them a peep!
---

{% extends 'page.njk' %}
{% from 'hero.njk' import hero  %}

{% block body %}

  {{ hero(
    eyebrow = 'Check out all of these',
    heading = heading,
    paragraph = description
  ) }}

  <section class="container section-spacing">
    {% for item in collections.sites %}
      <article class="flex flex-wrap items-center {{ 'pt-12 mt-12 border-t' if not loop.first }}">
        <img
          alt="{{ item.data.title }} image"
          class="w-full rounded-lg shadow-lg object-cover object-top h-64 md:w-1/2 lg:w-1/3"
          src="{{ item.data.image }}"
        >
        <div class="mt-8 flex-1 md:pl-12 md:mt-0">
          <a target="_blank" href="{{ item.data.link }}">
            <h2 class="text-2xl md:text-3xl font-extrabold leading-none">{{ item.data.title }}</h2>
            <p class="text-sm font-medium {{ item.data.color }} underline">{{ item.data.link }}</p>
          </a>
          <p class="text-base text-gray-700 mt-4">{{ item.data.description }}</p>
          <a
            target="_blank"
            href="{{ item.data.link }}"
            class="inline-flex items-center mt-6 {{ item.data.color }} font-bold"
          >
            <span class="leading-none">
              View Project
            </span>
            <span class="w-4 ml-1">
              {% include 'icons/arrow.svg' %}
            </span>
          </a>
        </div>
      </article>
    {% endfor %}
  </section>

  {% include 'contact-cta.njk' %}

{% endblock body %}
