---
import Layout from './Layout.astro'
import Arrow from '@/assets/arrow.svg'

const { frontmatter } = Astro.props

const meta = {
  title: frontmatter.title,
  description: frontmatter.description,
}
---

<Layout meta={meta}>
  <div class="typography">
    <a class="!hover:no-underline mb-6 flex items-center gap-1" href="/blog/">
      <Arrow class="size-4" />
      <span> Blog </span>
    </a>
    <slot />
    <p class="!m-0 text-sm text-gray-500">
      Last updated on {frontmatter.date}
    </p>
    <p class="!m-0 !mt-1 !mb-4 text-sm text-gray-500">
      Tags: {frontmatter.tags.join(', ')}
    </p>
  </div>
</Layout>
