---
import Layout from './Layout.astro'
import Waves from '../components/icons/Waves.astro'

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---
<Layout title={title} description={description}>
  <section
    class="
      py-32 flex items-center justify-center
      text-white bg-linear-to-b from-blue-600 to-blue-950 to-90%
    "
  >
    <div class="container md:text-center">
      <div class="space-y-6 overlap">
        <div class="space-y-6 w-full max-w-4xl mx-auto">
          <h1 class="h1 text-balance">
            {title}
          </h1>
          <p class="h6 text-blue-200 text-balance">
            {description}
          </p>
        </div>
      </div>
    </div>
  </section>

  <Waves rotate />

  <div class="container prose py-24 md:prose-lg md:max-w-3xl">
    <slot />
  </div>
</Layout>
