---
import Layout from './Layout.astro'
import Hero from '../components/Hero.astro'
import Waves from '../components/icons/Waves.astro'

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---
<Layout title={title} description={description}>
  <Hero title={title} description={description} />

  <Waves foreground='#f3f4f6' />

  <section class="bg-linear-to-t from-white to-gray-100 to-90%">
    <div class="container prose section md:prose-lg md:max-w-3xl">
      <slot />
    </div>
  </section>
</Layout>
