@layer components {
  .button {
    @apply inline-block text-sm px-4 py-3 rounded font-black uppercase tracking-wide bg-mw-blue text-slate-100;
  }

  .h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-black leading-tight;
  }

  .h2 {
    @apply text-2xl sm:text-3xl md:text-4xl font-black leading-tight;
  }

  .h3 {
    @apply text-xl sm:text-2xl md:text-3xl font-black leading-tight;
  }

  .h4 {
    @apply text-lg sm:text-xl md:text-2xl font-black leading-tight;
  }

  .input {
    @apply rounded bg-slate-800 border focus:border-mw-blue;
  }

  .section-spacing {
    @apply py-8 md:py-16 lg:py-24;
  }
}
