@layer utilities {
  @keyframes grow {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
      transform-origin: center;
    }
    100% {
      transform: scale(1);
    }
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-tl from-mw-purple via-mw-blue to-mw-teal;
  }

  .gradient {
    @apply bg-gradient-to-tl from-mw-purple via-mw-blue to-mw-teal;
  }

  .animate-grow {
    animation: grow ease 4s infinite;
  }

  .debug-screens {
    @apply z-auto;
  }
}
