@utility text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-tl from-mw-purple via-mw-blue to-mw-teal;
}

@utility gradient {
  @apply bg-gradient-to-tl from-mw-purple via-mw-blue to-mw-teal;
}

@utility animate-grow {
  animation: grow ease 4s infinite;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
  }
}
